@CHARSET "UTF-8";

body {
	background-color: #d7ecf2;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.menu {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 300px;
	background-color: #869df9;}

li a {
	display: block;
	color: #000080;
	padding: 8px 16px;
	text-decoration: none;
	font-weight: bold;
	font-size: 150%;
}

li {
	text-align: center;
	border: 2px solid #000080;
}

li a:hover:not(.home) {
	background-color: #000080;
	color: white;
}

li a.home {
	color: #ffffff;
	font-weight: bold;
	background-color: #0000ff;
}