@CHARSET "ISO-8859-1";

body {
	background-color: #d7ecf2;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.message {
	display: none;
}

table, td, th {
	border: 1px solid #0000ff;
	text-align: center;
	border-collapse: collapse;
	margin: 0 auto;
}

tr:hover:not(.title) {
	background-color: #869df9;
}

tr:nth-child(even) {
	background-color: white;
}

th {
	background-color: #000080;
	color: white;
}

caption {
	text-align: center;
	font-weight: bold;
	font-size: 150%;
	color: #000080;
	margin: 20px auto;
}

a {
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	border: 2px solid #c0c0c0;
}

.action {
	display: block;
	color: white;
	background-color: #ff0000;
	margin: 5px auto;
	padding: 5px 5px;
	width: 50px;
}

.action:hover {
	background-color: white;
	color: #ff0000;
}

.menu {
	margin: 30px auto;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 430px;
}

ul li {
	display: inline;
	text-align: center;
}

li a {
	color: #000;
	text-decoration: none;
	background-color: #869df9;
	color: #000080;
	font-weight: bold;
	padding: 7px;
	border: 2px solid #c0c0c0;
}

li a:hover {
	background-color: #000080;
	color: white;
}

@media only screen and (max-width: 400px) {
	table, th, td {
		padding: 1px;
		font-size: 75%;
	}
	
	.last {
		padding-left: 1px;
	}

}

@media only screen and (min-width: 400px) and (max-width: 500px) {
	table, td, th {
		padding: 1px;
		font-size: 85%;
	}
	
	.last {
		padding-left: 50px;
	}

}

@media only screen and (min-width: 500px) and (max-width: 650px) {
	table, td, th {
		padding: 1px;
		font-size: 95%;
	}
	
	.last {
		padding-left: 75px;
	}

}

@media only screen and (min-width: 650px) {
	table, td, th {
		padding: 15px;

	}
	
	.last {
		padding-left: 100px;
	}

}