@CHARSET "ISO-8859-1";

body {
	background-color: #d7ecf2;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.message {
	display: none;
	color: #ff0000;
	font-weight: bold;
}

.successMessage {
	display: none;
	font-weight: bold;
	text-align: center;
	color: #008000;
}

label, button {
	display: block;
	margin-top: 15px;
	color: #000080;
	font-weight: bold;
}

form {
	text-align: center;
}

button {
	background-color: #869df9;
	margin: 20px auto;
	padding: 5px 10px;
}

button:hover {
	background-color: #000080;
	color: white;
}

.menu {
	margin: 20px auto;
}

@media only screen and (max-width: 480px) {
	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}
	ul li {
		display: inline;
		text-align: center;
	}
	li a {
		color: #000;
		text-decoration: none;
		background-color: #869df9;
		color: #000080;
		font-weight: bold;
		padding: 7px;
		border: 2px solid #c0c0c0;
	}
	.last {
		padding-left: 1px;
	}
	li a:hover {
		background-color: #000080;
		color: white;
	}
}

@media only screen and (min-width: 480px) {
	ul {
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		width: 430px;
	}
	ul li {
		display: inline;
		text-align: center;
	}
	li a {
		color: #000;
		text-decoration: none;
		background-color: #869df9;
		color: #000080;
		font-weight: bold;
		padding: 7px;
		border: 2px solid #c0c0c0;
	}
	.last {
		padding-left: 100px;
	}
	li a:hover {
		background-color: #000080;
		color: white;
	}
}